@charset "UTF-8";
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 30px;
  font-size: 20px;
  color: #1e1744;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url(/Fonts/Montserrat-Medium.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: url(/Fonts/Montserrat-Regular.ttf);
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
  src: url(/Fonts/Montserrat-SemiBold.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Jura";
  src: url(/Fonts/Jura.ttf);
  font-weight: 400;
}
.header {
  background-image: url("/Images/header__back.png");
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__nav {
  background: rgba(33, 33, 33, 0.8);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  width: 100%;
}
.header__nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 760px) {
  .header__icon {
    width: 2vw;
  }
}
.header__number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 760px) {
  .header__number {
    font-size: 3vw;
  }
}
.header__logo {
  margin-left: 15%;
  margin-right: 25%;
}
@media (max-width: 768px) {
  .header__logo {
    margin-left: 5%;
    margin-right: 15%;
  }
}
@media (max-width: 760px) {
  .header__logo {
    width: 10%;
  }
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 78px 50% 7% 20%;
}
@media (max-width: 768px) {
  .header__main {
    padding: 78px 60px 7% 100px;
  }
}
@media (max-width: 570px) {
  .header__main {
    padding: 2%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.header__head {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 48px;
  /* or 117% */
  margin-bottom: 5%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .header__head {
    font-size: 24px;
    margin-bottom: 1%;
  }
}
.header__paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  /* or 121% */
  margin-bottom: 5%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .header__paragraph {
    font-size: 16px;
    margin-bottom: 2%;
  }
}
.header__button {
  border: 2px solid #C80000;
  border-radius: 27px;
  background: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  /* identical to box height, or 164% */
  width: 165px;
  height: 55px;
  color: #FFFFFF;
}

.one {
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 7%;
}
.one__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}
@media (max-width: 1700px) {
  .one__top {
    width: 90%;
  }
}
@media (max-width: 1310px) {
  .one__top {
    width: 97%;
  }
}
@media (max-width: 1215px) {
  .one__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.one__card1 {
  width: 590px;
  height: 491px;
}
@media (max-width: 768px) {
  .one__card1 {
    display: none;
  }
}
.one__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10%;
  padding: 0 5% 0 5%;
}
.one__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 165% */
  color: #FFFFFF;
}
.one__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1215px) {
  .one__card {
    margin-top: 3%;
  }
}
.one__image {
  background: #272727;
  border-radius: 14px;
  width: 286px;
  height: 412px;
  padding-top: 30%;
  margin-bottom: 5%;
}
.one__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  color: #FFFFFF;
}
.one__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  color: #FFFFFF;
  opacity: 0.5;
}
.one__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin-top: 3%;
}
@media (max-width: 1700px) {
  .one__bottom {
    width: 90%;
  }
}
@media (max-width: 1310px) {
  .one__bottom {
    width: 97%;
  }
}
@media (max-width: 1215px) {
  .one__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.one__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.one__head {
  font-family: "Jura";
  font-style: normal;
  font-weight: 200;
  font-size: 27px;
  line-height: 42px;
  /* identical to box height, or 156% */
  text-align: center;
  color: #FFFFFF;
}
.one__e-mail {
  background: #272727;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.5;
  max-width: 276px;
  width: 100%;
  height: auto;
  padding: 10% 3% 10% 3%;
  margin-top: 10%;
  text-align: center;
}

.two {
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}
.two__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding-right: 5%;
}
@media (max-width: 900px) {
  .two__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0%;
  }
}
.two__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
@media (max-width: 900px) {
  .two__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.two__head {
  font-family: "Jura";
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  line-height: 42px;
  /* or 120% */
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .two__head {
    font-size: 3vw;
  }
}
@media (max-width: 900px) {
  .two__head {
    margin-top: 2%;
  }
}
.two__paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */
  color: #FFFFFF;
  margin: 3% 0 3% 0;
}
@media (max-width: 1024px) {
  .two__paragraph {
    font-size: 2vw;
  }
}
.two__left {
  margin-right: 3%;
}
@media (max-width: 900px) {
  .two__left {
    margin-right: 0%;
  }
}
.two__left2 {
  margin-right: 3%;
}
@media (max-width: 900px) {
  .two__left2 {
    margin-right: 0%;
  }
}

.three {
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 7%;
  padding-bottom: 7%;
}
.three__head {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}
.three__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  margin-top: 3%;
}
@media (max-width: 1800px) {
  .three__main {
    width: 90%;
  }
}
@media (max-width: 1290px) {
  .three__main {
    width: 97%;
  }
}
@media (max-width: 1190px) {
  .three__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1190px) {
  .three__card {
    margin-top: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.three__data {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 2%;
}
.three__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: 24px;
  /* or 141% */
  color: #FFFFFF;
  text-align: center;
  margin-top: 2%;
}
@media (max-width: 400px) {
  .three__photo {
    width: 70vw;
  }
}

.footer {
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  width: 100%;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding: 2%;
  height: 350px;
}
@media (max-width: 1440px) {
  .footer__wrapper {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .footer__left {
    margin-right: 2%;
  }
  .footer__right {
    margin-left: 2%;
  }
}
@media (max-width: 630px) {
  .footer__wrapper {
    height: auto;
  }
  .footer__right {
    height: 100%;
  }
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.footer__logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (max-width: 630px) {
  .footer__logo {
    margin-right: 2%;
  }
}
.footer__slogan {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  /* or 131% */
  color: #FFFFFF;
}
@media (max-width: 630px) {
  .footer__slogan {
    font-size: 2vw;
  }
}
.footer__info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
  /* or 154% */
  color: #FFFFFF;
}
@media (max-width: 630px) {
  .footer__info {
    font-size: 2vw;
  }
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}
.footer__head {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  /* identical to box height, or 165% */
  color: #FFFFFF;
}
@media (max-width: 630px) {
  .footer__head {
    font-size: 3vw;
  }
  .footer__logo {
    width: 50%;
  }
}
.footer__number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  color: #FFFFFF;
}
@media (max-width: 630px) {
  .footer__number {
    font-size: 2vw;
  }
}
.footer__mail {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height, or 136% */
  color: #FFFFFF;
}
@media (max-width: 630px) {
  .footer__mail {
    font-size: 2vw;
  }
}
.footer__time {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height, or 136% */
  color: #FFFFFF;
}
@media (max-width: 630px) {
  .footer__time {
    font-size: 2vw;
  }
}
.footer__adress {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 19px;
  /* or 136% */
  color: #FFFFFF;
}
@media (max-width: 630px) {
  .footer__adress {
    font-size: 2vw;
  }
}

.catheader {
  background-image: url("/Images/Catalog/header__back.png");
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.catheader__catmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 186px 0 215px 0;
}
.catheader__cathead {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */
  text-transform: uppercase;
  /* UI White */
  text-align: center;
  color: #FFFFFF;
}
.catheader__catparagraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  /* UI White */
  text-align: center;
  color: #FFFFFF;
  margin-top: 3%;
}

.catalog {
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 7%;
  margin-top: -2%;
}
.catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin-bottom: 7%;
}
@media (max-width: 1810px) {
  .catalog__row {
    width: 90%;
  }
}
@media (max-width: 1410px) {
  .catalog__row {
    width: 97%;
  }
}
@media (max-width: 1310px) {
  .catalog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0%;
  }
  .catalog__card {
    margin-top: 5%;
    margin-bottom: 2%;
  }
}
@media (max-width: 650px) {
  .catalog__img {
    width: 80vw;
  }
}
.catalog__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-top: -10%;
  margin-left: 5%;
}
.catalog__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #FFFFFF;
}
@media (max-width: 650px) {
  .catalog__name {
    font-size: 2vw;
  }
}
.catalog__minicards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}
@media (max-width: 1710px) {
  .catalog__minicards {
    width: 90%;
  }
}
@media (max-width: 1310px) {
  .catalog__minicards {
    display: none;
  }
}
.catalog__minicard {
  background-image: url(/Images/Catalog/minicard.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 144px;
  height: 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 1.7%;
}

.knives {
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 7%;
  margin-top: -2%;
}
.knives__head {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */
  text-transform: uppercase;
  /* UI White */
  color: #FFFFFF;
}
.knives__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 5%;
}
.knives__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-top: 3%;
}
@media (max-width: 1740px) {
  .knives__row {
    width: 90%;
  }
}
@media (max-width: 970px) {
  .knives__row {
    width: 97%;
  }
}
@media (max-width: 890px) {
  .knives__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42%;
}
.buy__button {
  background: #C80000;
  border: 2px solid #C80000;
  border-radius: 27px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  /* UI White */
  color: #FFFFFF;
  width: 165px;
  height: 50px;
}
.buy__price {
  font-family: "Atomic Alice";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  color: #FFFFFF;
  margin-left: 2%;
}

@media (max-width: 690px) {
  .buy {
    width: 70%;
  }
}
.prodone {
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 7%;
}
.prodone__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-bottom: 5%;
}
@media (max-width: 1680px) {
  .prodone__row {
    width: 80%;
  }
}
@media (max-width: 1260px) {
  .prodone__row {
    width: 90%;
  }
}
@media (max-width: 1115px) {
  .prodone__row {
    width: 97%;
  }
}
@media (max-width: 1030px) {
  .prodone__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.prodone__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1030px) {
  .prodone__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
.prodone__head {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.prodone__paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 5%;
}
@media (max-width: 678px) {
  .prodone__photo {
    width: 70vw;
  }
}
.prodone__video {
  width: 100vw;
}

.prodtwo {
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 7%;
  padding-bottom: 7%;
}
.prodtwo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
@media (max-width: 1400px) {
  .prodtwo__wrapper {
    width: 80%;
  }
}
@media (max-width: 1050px) {
  .prodtwo__wrapper {
    width: 90%;
  }
}
@media (max-width: 930px) {
  .prodtwo__wrapper {
    width: 97%;
  }
}
@media (max-width: 860px) {
  .prodtwo__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.prodtwo__head {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}
@media (max-width: 860px) {
  .prodtwo__right {
    margin-top: 3%;
  }
}
@media (max-width: 440px) {
  .prodtwo__left img {
    width: 70vw;
  }
}
.prodtwo__length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #FFFFFF;
}
.prodtwo__line {
  margin-top: 2%;
}
@media (max-width: 440px) {
  .prodtwo__line {
    width: 70vw;
  }
}

.service {
  background: #373737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1920px;
  width: 100%;
  height: auto;
  padding-top: 5%;
}
.service__head {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */
  text-transform: uppercase;
  /* UI White */
  color: #FFFFFF;
}
.service__number {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  /* UI White */
  color: #FFFFFF;
  margin-top: 3%;
}
.service__form {
  background: #FFFFFF;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1286px;
  width: 100%;
  padding: 1%;
  margin-top: 3%;
}
.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.service__element {
  background: #F6F6F6;
  border-radius: 5px;
  width: 40%;
  padding: 2%;
  margin-top: 5%;
}
.service__input {
  border-bottom: 2px solid #4F4F4F;
  padding: 1%;
  background-color: #F6F6F6;
  margin-top: 2%;
}
@media (max-width: 980px) {
  .service__input {
    width: 100%;
  }
}
@media (max-width: 710px) {
  .service__input {
    font-size: 3vw;
  }
  .service__row {
    width: 90%;
  }
}
.service__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 12px;
  /* or 100% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Gray 2 */
  color: #4F4F4F;
  opacity: 0.87;
}
@media (max-width: 710px) {
  .service__name {
    font-size: 3vw;
  }
}
.service__element2 {
  background: #F6F6F6;
  border-radius: 5px;
  width: 100%;
  padding: 2% 2% 15% 2%;
  margin-top: 5%;
}
.service__input2 {
  padding: 1%;
  background-color: #F6F6F6;
  width: 100%;
  margin-top: 2%;
}
.service__button {
  background: none;
  width: 165px;
  height: 49px;
  border: 2px solid #C80000;
  border-radius: 27px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  /* UI Black */
  color: #444444;
  margin-top: 2%;
}